#xmlForm {
    height: var(--height-form);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#genreAndTagsContainer {
    display: flex;
    flex-wrap: wrap;

    & > *:first-child {
        margin-right: var(--flex-gap);
    }
}

textarea {
    min-width: 100%;
    background-color: transparent;
    border: none;
    color: var(--muted);
}

#genreContainer,
#tagsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    width: calc(50% - var(--flex-gap) / 2);
    box-sizing: border-box;

    textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}

#buttonFormat {
    width: 80%;
    text-align: center;
    margin: var(--flex-gap) auto;
}

label {
    color: var(--text);
}

input,
select {
    color: var(--muted);
    background-color: var(--bg-alt);
    padding: var(--padding-form-y) var(--padding);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border);
    border-top-color: var(--border-highlight);
    box-sizing: border-box;
}

input[type="date"],
select {
    cursor: pointer;
}

div:has(> textarea) {
    width: 100%;
    padding: var(--padding-textarea-y) var(--padding-textarea-x);
    box-sizing: border-box;
    overflow: hidden;
    color: var(--muted);
    background-color: var(--bg-alt);
}

div:has(> .categoricalValuesTextarea) {
    --padding-textarea-x: 3px;
    --padding-textarea-y: 2px;
}
