#xmlForm {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#genreAndTagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--flex-gap);
}

textarea {
    min-width: 100%;
    max-width: calc(50vw - var(--grid-gap) * 2);
    background-color: transparent;
    border: none;
    color: var(--muted);
}

#genreContainer,
#tagsContainer {
    display: flex;
    flex-direction: column;
    min-width: calc(50% - var(--flex-gap) / 2);
    box-sizing: border-box;

    textarea {
        width: 100%;
        max-width: calc(50vw - var(--grid-gap) * 2 - var(--flex-gap));
        box-sizing: border-box;
    }
}

#buttonFormat {
    flex-grow: 1;
    text-align: center;
}

label {
    margin-top: var(--gap-form);
    margin-bottom: var(--margin-relation);
    color: var(--text);
}

input,
select {
    color: var(--muted);
    background-color: var(--bg-alt);
    padding: var(--padding-form-y) var(--padding);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border);
    border-top-color: var(--border-highlight);
    box-sizing: border-box;
}

input[type="date"],
select {
    cursor: pointer;
}

div:has(> textarea) {
    width: 100%;
    padding: var(--padding-textarea-y) var(--padding-textarea-x);
    box-sizing: border-box;
    overflow: hidden;
    color: var(--muted);
    background-color: var(--bg-alt);
}

div:has(> .categoricalValuesTextarea) {
    --padding-textarea-x: 3px;
    --padding-textarea-y: 2px;
}

#formatContainer {
    width: 100%;
    justify-content: space-between;
    gap: var(--gap-form);
}
