@use "mixins";

#xmlForm {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#genreAndTagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: var(--flex-gap);
}

textarea {
    min-width: 100%;
    max-width: calc(50vw - var(--grid-gap) * 2);
    background-color: transparent;
    border: none;
    color: var(--muted);
}

#genreContainer,
#tagsContainer {
    display: flex;
    flex-direction: column;
    min-width: calc(50% - var(--flex-gap) / 2);
    box-sizing: border-box;

    textarea {
        width: 100%;
        max-width: calc(50vw - var(--grid-gap) * 2 - var(--flex-gap));
        box-sizing: border-box;
    }
}

#buttonFormat {
    flex-grow: 1;
    text-align: center;
}

label {
    margin-top: var(--gap-form);
    margin-bottom: var(--margin-relation);
    color: var(--more-muted);
}

input,
select {
    color: var(--text);
    background-color: var(--bg-alt);
    padding: var(--padding-form-y) var(--padding);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border);
    border-top-color: var(--border-highlight);
    box-sizing: border-box;
}

input.checked,
select.checked {
    @include mixins.colored-border($topColor: --highlight, $color: --highlight-muted);
    background: var(--highlight-more-muted) !important;
    color: var(--text);
}

input[type="date"],
select {
    cursor: pointer;
}

div:has(> textarea) {
    width: 100%;
    padding: var(--padding-textarea-y) var(--padding-textarea-x);
    box-sizing: border-box;
    overflow: hidden;
    color: var(--muted);
    background-color: var(--bg-alt);
}

div:has(> .categoricalValuesTextarea) {
    --padding-textarea-x: 3px;
    --padding-textarea-y: 2px;
}

#formatContainer {
    width: 100%;
    justify-content: space-between;
    gap: var(--gap-form);
}

.formLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--most-muted);
        padding: calc(var(--padding) / 5);
        border-radius: calc(var(--border-radius) / 2) !important;
        background-color: var(--bg-alt);
        box-sizing: border-box;

        img {
            aspect-ratio: 1;
            height: var(--height-icon);
            filter: brightness(0) saturate(100%) invert(31%) sepia(56%) saturate(0%) hue-rotate(0deg) brightness(81%) contrast(88%);
            transition: filter 180ms;
        }
    }

    button:hover {
        color: var(--more-muted);
        border-radius: calc(var(--border-radius) / 2);
        background-color: var(--bg-alt);

        img {
            filter: grayscale(1) brightness(0.67);
        }
    }
}

#pinAllContainer {
    margin-left: auto;
}

#pinAll {
    padding-left: 0.5em;
}
